
<div style = "background-color:#9d9d9d; color:#fff">
<br><br><br><br>
<h1 style = "text-align:center">Laptops</h1>
<br><br>
</div>




<% side = 0 %>
<% @laptops.each do |laptop| %>
<hr class="featurette-divider">
<div class="row featurette">
	<% if side % 2 == 0 %>
		<div class="col-md-7">
          <h2 class="featurette-heading"><%= laptop.model%><br>
          	<span class="text-muted"><%= laptop.brand %></span></h2>
          <p class="lead">Processor: <%= laptop.processor_brand%></p>
          <p class="lead">RAM Memory: <%= laptop.RAM %> GB</p>
          <p class="lead">Price: <%= laptop.price %> euros</p><br>
        <%= link_to 'Show',  laptop_path(laptop)%>
		<%= link_to "Edit", edit_laptop_path(laptop)%>
		<%= link_to 'Destroy', laptop_path(laptop), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src=
          <% if laptop.image.length == "" %>
          <% return "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE3NCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjIzcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L2c+PC9zdmc+"%>
          <% else %>
          <%= laptop.image %>
          <% end %>

          data-holder-rendered="true">
        </div>

	<% else %>

        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src=
          <% if laptop.image == "" %>
          <% return "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE3NCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjIzcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L2c+PC9zdmc+" %>
          <% else %>
          <%= laptop.image %>
          <% end %>

          data-holder-rendered="true">
         </div>


		<div class="col-md-7">
          <h2 class="featurette-heading"><%= laptop.model%> <span class="text-muted"><%= laptop.brand %></span></h2>
          <p class="lead">Processor: <%= laptop.processor_brand%></p>
          <p class="lead">RAM Memory: <%= laptop.RAM %> GB</p>
          <p class="lead">Price: <%= laptop.price %> euros</p><br>
        <%= link_to 'Show',  laptop_path(laptop)%>
		<%= link_to "Edit", edit_laptop_path(laptop)%>
		<%= link_to 'Destroy', laptop_path(laptop), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

	<% end %>
</div>
<% side += 1%>
<% end %>


<hr class="featurette-divider">
<h2>Not in the catalogue?</h2>

<p><%= link_to 'Add laptop', new_laptop_path %></p>