<div style = "background-color:#9d9d9d; color:#fff">
<br><br><br><br>
<h1 style = "text-align:center"><%= @laptop.model %></h1>
<br><br>
</div>


<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
          <h2 class="featurette-heading"><%= @laptop.model%><br>
            <span class="text-muted"><%= @laptop.brand %></span></h2>
          <p class="lead">Processor: <%= @laptop.processor_brand%></p>
          <p class="lead">RAM Memory: <%= @laptop.RAM %> GB</p>
          <p class="lead">Price: <%= @laptop.price %> euros</p><br>
  </div>

  <div class="col-md-5">
          <img class="featurette-image img-responsive center-block"  alt="500x500" src= <%= @laptop.image %> data-holder-rendered="true">
  </div>
</div>


<%= link_to 'Back', laptops_path %>
<%= link_to 'Edit', edit_laptop_path(@laptop)%>
<%= link_to 'Destroy', laptop_path(@laptop), method: :delete, data: { confirm: 'Are you sure?' } %>