<div style = "background-color:#9d9d9d; color:#fff">
<br><br><br><br>
<h1 style = "text-align:center">Editing Backpack</h1>
<br><br>
</div>


<div style = "box-shadow: 10px 10px 5px #888888; float:center; width: 30%; margin: 0 35%">



<h1>Editing Backpack</h1>
<%= form_for :backpack, url: backpack_path(@backpack), method: :patch do |f| %>
   <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </p>

  <p>
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </p>

  <p>
    <%= f.label :pockets%><br>
    <%= f.number_field :pockets %>
  </p>

  <p>
    <%= f.label :waterproof%><br>
    <%= f.select :waterproof, [["Yes", true],["No", false]] %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>

  <p>
    <%= f.label :image %> url<br>
    <%= f.text_field :image %> (not mandatory)
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', backpacks_path %>

</div>
<br>