<div style = "background-color:#9d9d9d; color:#fff">
<br><br><br><br>
<h1 style = "text-align:center"><%= @backpack.name %></h1>
<br><br>
</div>

<h3>
  <strong>Model name:</strong><br>
  <%= @backpack.name %>
</h3>

<p>
  <strong>Color:</strong>
  <%= @backpack.color %>
</p>

<p>
  <strong>Capacity (L):</strong>
  <%= @backpack.capacity %> L
</p>

<p>
  <strong>Pockets:</strong>
  <%= @backpack.pockets %>
</p>


<p>
  <strong>price(euros):</strong>
  <%= @backpack.price %> euros
</p>

<p>
  <strong>Image:</strong>
  <%= @backpack.image %>
</p>


<%= link_to 'Back', backpacks_path %>
<%= link_to 'Edit', edit_backpack_path(@backpack)%>
<%= link_to 'Destroy', backpack_path(@backpack), method: :delete, data: { confirm: 'Are you sure?' } %>